@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
}


/*navigation*/

header {
   display: flex;
   justify-content: space-between;
}

.header-design {
   padding: 1.5em 5em;
}

.logo h1 {
   margin: 0;
    color: #111;
}

nav ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}

nav a {
   display: block;
   padding: 10px 3px 0;
   margin-right: 1em;
   text-decoration: none;
   color:#111;
   position: relative;
   transition: all 0.2s ease-in-out;
}

nav a::after {
   content: '';
   position: absolute;
   bottom: -1px;
   left: 50%;
   width: 0;
   height: 2px;
   border-radius: 10px;
   background-color:#111;
   transition: all 0.2s ease-in-out;
}

nav a:hover::after {
   width: 100%;
   left: 0;
}


/*content*/

.content {
   text-align: left;
   padding: 5em 0 0 0;
   display: flex;
}

h2 {
   font-size: 60px;
   margin-bottom: 0;
    margin-top: 0;
    color: #111;
}

.content p {
   max-width: 30em;
   margin-top: 0;
   margin-bottom: 10px;
    color: #111;
}

.button {
   display: inline-block;
   padding: 1em 2em;
   background-color:#219AEA;
   color:#fff;
   text-decoration: none;
   border-radius: 5px;
}

/*img layout*/
.content-img {
   width:400px;
   margin-left: 100px;
    border-radius:3px; 
}
.content-img1 {
   width:500px;
   margin-left:200px;
    border-radius:3px; 
}
/*icon*/
.icon-menu{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-top:13px;
}
.icon-menu a{
    margin-right:17px;
    font-size:23px;
}
.icon-menu a i{
    color:#fff;
    background-color:#219AEA;
    border-radius:50%;
    padding:3px;
}


/*type of song*/

.typesong {
   padding: 1.5em 5em;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.typesong ul {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   position: absolute;
   bottom: 30px;
}

.typesong a {
    color:#111;
   font-weight: bold;
   text-decoration: none;
   font-size: 18px;
}

.typesong li {
   margin: 0 1.5em;
}
.typesong button{
    padding:8px;
    border-radius:50%;
    background-color: #B3B6B7;
    border: none;
    cursor: pointer;
    transition:0.2s;
}
.typesong button:hover{
    background-color: #333;
}
.typesong button[data-tooltip]:after {
   content: "";
   position: absolute;
    top:3px;
   transform: translateX(-50%);
   border-width: 5px;
   border-style: solid;
   border-color: #111  transparent transparent transparent;
   visibility: hidden;
   opacity: 0;
   transition: 0.3s ease-in-out;
}

.typesong button[data-tooltip]:before {
   content: attr(data-tooltip);
   position: absolute;
    bottom:90%;
   transform: translateX(-50%);
   background-color: #111;
   color: #fff;
   padding: 5px 10px;
   border-radius: 3px;
    font-family: 'Poppins', sans-serif;
   font-size: 12px;
   visibility: hidden;
   opacity: 0;
   transition: 0.3s ease-in-out;
}


.typesong button[data-tooltip]:hover:after,.typesong button[data-tooltip]:hover:before {
   visibility: visible;
   opacity: 1;
}

/*animation*/

.content {
   animation: transitionIn 0.75s;
}

@keyframes transitionIn {
   from {
      opacity: 0;
      transform: rotateX(-10deg);
   }
   to {
      opacity: 1;
      transform: rotateX(0);
   }
}












